<nav class="navBar">
    
    
    <div class="title-container">
        <img *ngIf="!isSmallScreen" class="img-icon-header" src="../../assets/yogaIconw.png" alt="">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 16 16" (click)="toggleMenu()"  *ngIf="isSmallScreen" class="menu-container">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        <a class="" >
       
            SoulStretch
        </a>
    </div>
    
    <a *ngIf="!isSmallScreen" class="" (click)="redirectToHome()" style="cursor: pointer;">
        Productos
    </a>

    <a *ngIf="!isSmallScreen" class="" (click)="redirectToAboutUs()" style="cursor: pointer;">
        Sobre nosotros
    </a>


    <div *ngIf="!isSmallScreen">
        <div class="cart-icon-container" (click)="redirectToCart()">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart text-light" viewBox="0 0 16 16" style="font-weight: bold; cursor: pointer;">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
<!--             <p class="cart-item-count">{{ carrito?.productos.length }}</p>
 -->        </div>
        
        
        <svg (click)="redirectToUser()" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person text-light" viewBox="0 0 16 16" style="margin-left: 10px; cursor: pointer">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
        
    </div>
    

  </nav>

  <div class="menu-left-container"  *ngIf="isMenuOpen" (click)="toggleMenu()" >
        <div class="menu-left"  [@slideInAnimation]="isMenuOpen ? 'in' : 'out'">
           <img class="img-icon" src="../../assets/yogaIconw.png" alt="">
            <a class="item-left" (click)="redirectToHome()" style="cursor: pointer;">
                Productos
            </a>
        
            <a class="item-left" (click)="redirectToAboutUs()" style="cursor: pointer;">
                Sobre nosotros
            </a>
        
        
            <div class="item-left-bottom" >
                <div class="cart-icon-container" (click)="redirectToCart()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart text-light icons" viewBox="0 0 16 16" style="font-weight: bold; cursor: pointer;">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    <!-- <p class="cart-item-count">{{ carrito?.productos.length }}</p> -->
                </div>
                <svg (click)="redirectToUser()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person text-light icons" viewBox="0 0 16 16" style="margin-left: 10px; cursor: pointer">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
                
            </div>
        </div>
    
    </div>