
<div class="about-us">
    <div class="container-1">
        <div>
            <h2>¡Bienvenidos a nuestra comunidad de yoga!</h2>
            <p>            En SoulStretch, nos comprometemos a ofrecer un espacio acogedor y enriquecedor donde puedes explorar y nutrir tu práctica de yoga. 
            </p>
        </div>
    
        <div style="    text-align: center;">
            <img class="img" src="../../assets/data/images/grupo-yoga.jpeg" alt="">
        </div>
    </div>
   

    <div class="container-1">
        <p class="info">
            Somos un equipo apasionado por el bienestar y el desarrollo personal. Soy Ana Gómez Crovetto, tengo 22 años y me gradué de la Tecnicatura Universitaria en Desarrollo de Software en la UADE. Mi pasión por el diseño y desarrollo frontend me llevó de lleno al mundo del desarrollo web y diseño de experiencias digitales.
            <br>
            En nuestro sitio, encontrarás recursos, consejos y productos seleccionados cuidadosamente para acompañar tu práctica diaria. Explora nuestras clases, eventos y artículos para descubrir nuevas perspectivas y profundizar en tu viaje de bienestar.
            <br>
            Estamos entusiasmados de compartir esta aventura contigo.
            <br>
            ¡Únete a nosotros en esta experiencia!
            <br>
            ¡Namaste!
        </p>
        
        
    
        
    </div>
</div>
