<div class="cart-container">
    <div>
        <h1>Mi carrito</h1>
        <p  *ngIf="totalCompra === 0"style="text-align: left !important; padding-left: 10%">No tienes productos en el carrito</p>
        <table *ngIf="totalCompra != 0 && !isSmallScreen">
            <thead>
              <tr>
                  <th></th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let producto of carrito.productos">
                <td>
                    <img class="product-img" src="../../assets/data/images/{{producto.img}}" />
                    </td>
                <td>{{producto.name}}</td>
                <td>${{producto.price}}</td>
                <td>
                    <div class="quantity-container">
                        <button (click)="decrementQuantity(producto)" class="grey-btn-r">-</button>
                       <p class="input">{{producto.cantidad}}</p>
                        <button (click)="incrementQuantity(producto)" class="grey-btn-r">+</button>
                    </div>
                </td>
                <td>${{producto.price * producto.cantidad}}</td>
                <td>
                    <svg (click)=eliminar(producto) xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 tacho" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                </td>
              </tr>
              
            </tbody>
          
        </table>

        <ng-container *ngIf="isSmallScreen">
            <div *ngFor="let producto of carrito.productos" >
                <div class="modal-content">
                    <img class="product-img" src="../../assets/data/images/{{producto.img}}" />
                    <div class="product-info">
                      <h3>{{producto.name}}</h3>
                      <div>
                        <p>Precio total: ${{producto.price * producto.cantidad}}</p>
                          <p class="detail" >Color: {{producto.details?.color}}</p>
                        <p class="detail">Material: {{producto.details?.material}}</p>
                      </div>
                    
                      <div class="btn-container">
                        <div class="quantity-container">
                            <svg (click)=eliminar(producto) xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3 tacho" viewBox="0 0 16 16" style="margin-right: 30px;">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>

                            <button (click)="decrementQuantity(producto)" class="grey-btn-r">-</button>
                            <p class="input">{{producto.cantidad}}</p>
                            <button (click)="incrementQuantity(producto)" class="grey-btn-r">+</button>
                            
                        </div>
                        
                      </div>
                      
                    </div>
                    
                </div>
    
            </div>
        </ng-container>
        
          
    
        <div class="total-container" *ngIf="totalCompra != 0">
            <h3 class="subtitulo" >Subtotal del carrito: ${{ totalCompra }}</h3>
            <p *ngIf="descuento">{{descuento}}</p>
            <p *ngIf="productoMasBarato">Producto bonificado: {{productoMasBarato.name}}</p>
            <h2 class="subtitulo" style="margin-top: 5%;">Total a pagar: ${{total}}</h2>
            <div>
                <button class="grey-btn" (click)="finish()" [disabled]="totalCompra === 0">Finalizar compra</button>
                <button class="grey-btn" (click)="openDeleteCartModal()" style="background-color: transparent; margin-right: 2%;">Eliminar carrito</button>

            </div>
            
        </div>
    
    </div>
    
    
</div>
<app-modal-general></app-modal-general>
<app-modal-eliminar></app-modal-eliminar>
