<div >
    <div class="btn-container">
        <h1>Mi perfil </h1>
    </div>
    <div class="btn-container2">
        <button class="grey-btn" (click)="logout()">Cerrar sesión</button>
        <button class="grey-btn" (click)="borrarHistorial()">Borrar historial</button>
    </div>
    
    <div class="container">
        
        <h2>Información del usuario logueado</h2>
    
    
        <p *ngIf="user?.vip || cronologia.length >0">El usuario {{user?.username}} es VIP</p>
        <p *ngIf="!user?.vip && cronologia.length <0">El usuario {{user?.username}} no es Vip</p>
    
        <h4>Cronología:</h4>
        <div  *ngFor="let mes of cronologia">
            <p>El usuario {{user?.username}} fue VIP en {{mes}}</p>
    
        </div>
    </div>
   

    <div class="compras-anteriores">

        <div *ngIf="comprasRegistradas.length>0">
            <h1>Compras anteriores</h1>
        </div>
        <div *ngFor="let carrito of comprasRegistradas" [class.selected-row]="isSelected(carrito.fechaCompra)" style="padding-top: 3%;     text-align: -webkit-center;        ">
            <div class="h3-container" >
                <h3 (click)="toggleVisibilidadCompra(carrito.fechaCompra)"  style="text-align: left; margin-left: 10% " class="h3" >Fecha de Compra: {{ carrito.fechaCompra | date:'dd/MM/yyyy HH:mm' }} 
                    <svg *ngIf="!isSelected(carrito.fechaCompra)"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
                  </svg>
                  <svg *ngIf="isSelected(carrito.fechaCompra)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894z"/>
                  </svg>
                </h3> 
            </div>
          
            
            <table *ngIf="visibilidadCompras[carrito.fechaCompra]"> 
            <thead>
                <tr >
                    <th *ngIf="!isSmallScreen"></th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>PRECIO TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let producto of carrito.productos">
                    <td *ngIf="!isSmallScreen">
                        <img class="product-img" src="../../assets/data/images/{{producto.img}}" />
                        </td>
                    <td>{{producto.name}}</td>
                    <td>${{producto.price}}</td>
                    <td>
                        <div class="quantity-container">
                                <p class="input">{{producto.cantidad}}</p>
                        </div>
                    </td>
                    <td>${{producto.price * producto.cantidad}}</td>
                    
                </tr>
                
            </tbody>
            </table>
            <div class="fila-celeste"></div>
    
        </div>

    </div>
</div>